<div class="page-header">
  <h1>
    Code Samples
  </h1>
</div>

<div class="row">
  <div class="col-sm-12">

    <p>
      Most of the projects I've worked on over the past few years can be seen at my <a href="http://github.com/waldenraines">Github Account</a> as everything I've been doing is open source.
      What follows are some basic code samples of fun stuff I've been playing with recently.
    </p>

    <p>
      More to come soon.
    </p>

    <ul class="nav nav-tabs">
      <li role="presentation" ui-sref-active="active">
        <a href="#" ui-sref="code.websocket">WebSocket</a>
      </li>
    </ul>

    <div ui-view></div>
  </div>
</div>
