<h3>WebSocket</h3>

<p>
  This example uses WebSocket to connect to a <a href="https://nodejs.org/">Node.JS</a> WebSocket server hosted on <a href="http://openshift.com">Openshift</a>.
</p>

<p>
  Client side AngularJS source is <a href="http://github.com/waldenraines/waldenrainesdotcom/tree/master/src/app/code">here</a>.
</p>

<p>
  Server side Node.JS source is <a href="http://github.com/waldenraines/waldenrainesdotcom-websocket">here</a>.
</p>

<p alert type="danger" ng-show="connectionError" close="connectionError = null">
  There was an error connecting to the WebSocket server.
</p>

<button class="btn btn-primary" ng-click="connect()" ng-hide="connectionOpen">
  Connect
</button>

<section ng-show="connectionOpen">
  <h3>Connected with Drill Bit</h3>

  <div class="row">
    <div class="col-sm-6">
      <div scrolling-well="150px" scroll-items="messages">
        <div ng-repeat="message in messages track by $index">
          <strong>
              <span ng-show="$even">
                Drill Bit:
              </span>
              <span ng-show="$odd">
                You:
              </span>
          </strong>

          <span>{{ message }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <form name="webSocketForm" role="form" novalidate ng-submit="sendMessage(newMessage)">
        <div class="form-group">
          <label class="sr-only" for="websocketMessage">Your message</label>
          <input type="text" class="form-control" id="websocketMessage" placeholder="Type your message" ng-model="newMessage" required>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="webSocketForm.$invalid">
          Send
        </button>
        <button class="btn btn-default" ng-click="closeConnection()">
          Disconnect
        </button>
      </form>
    </div>
  </div>
</section>
