<div id="resume">
  <a class="pull-right no-print" href="/public/waldenraines.pdf" target="_blank">PDF</a>

  <div class="page-header">
    <h1>
      WALDEN RAINES
    </h1>
    <a href="mailto:walden@waldenraines.com" title="Send me an Email">walden@waldenraines.com</a>
  </div>

  <section>
    <h3>SUMMARY</h3>

    <p class="resume-content">
      A software development professional and hobbyist with a diverse skillset who thrives in a fast paced work environment.
    </p>
  </section>

  <section id="skills">
    <h3>SKILLS</h3>

    <div class="resume-content">
      <dl class="dl-horizontal dl-left">
        <dt>Languages</dt>
        <dd>JavaScript, CSS 2/3, HTML 4/5, SQL, python, ruby/rails, Java, BASH scripting, Regular Expressions</dd>

        <dt>Libraries/Frameworks</dt>
        <dd>AngularJS, SASS, LESS, Bootstrap, Patternfly, underscore.js, JQuery, JQuery UI, D3, Backbone.js, ember.js</dd>

        <dt>Operating Systems</dt>
        <dd>Linux, OSX, Unix, Microsoft Windows</dd>

        <dt>Source Control</dt>
        <dd>Git (and GitHub/Gitlab), Mercurial, Subversion, Perforce, CVS</dd>

        <dt>Tools</dt>
        <dd>Grunt, Bower, npm, Jasmine, Karma, JSHint, JSLint, Rally, Bugzilla, Trac, Balsamiq, OmniGraffle</dd>
      </dl>
    </div>
  </section>

  <section id="experience">
    <h3>EXPERIENCE</h3>

    <h4>Red Hat, Raleigh, NC</h4>
    <p>Software Engineer, April 2013 - Present</p>
    <ul>
      <li>Implemented features using AngularJS, HTML, and CSS</li>
      <li>Managed project dependencies using bower and npm</li>
      <li>Wrote tests for all features using Jasmine and Karma</li>
      <li>Diagnosed and fixed performance issues</li>
      <li>Led agile team to successful completion of features</li>
      <li>Collaborated with UX designers and back-end developers to bring wireframes to life</li>
      <li>Designed and implemented REST APIs</li>
    </ul>

    <h4>OrgSpan, Durham, NC</h4>
    <p>Web Application Developer, November 2012 - April 2013</p>
    <ul>
      <li>Implemented features using handlebars, ember.js, HTML, and CSS</li>
      <li>Created and maintained Jenkins job for testing web client</li>
    </ul>

    <h4>Lulu Enterprises, Raleigh, NC</h4>
    <p>UI Engineer 2, January 2012-November 2012</p>
    <ul>
      <li>Implemented features using Java, Spring Framework, backbone.js, mustache templates, HTML, and CSS</li>
      <li>Designed mockups using OmniGraffle</li>
      <li>Tracked and recorded time on tasks using Rally</li>
    </ul>

    <h4>Lulu Enterprises, Raleigh, NC</h4>
    <p>QA Engineer, Oct. 2007-Sep. 2010; Senior QA Engineer, Sep. 2010-January 2012</p>
    <ul>
      <li>Created a framework for writing and running Selenium automated UI test cases</li>
      <li>Built and tagged RPMs and deployed releases and hot fixes to production environment</li>
    </ul>
  </section>

  <section id="hobbies">
    <h3>RELATED HOBBIES</h3>

    <div class="resume-content">
      <h4>Sub Rosa Games, Raleigh, NC</h4>
      <p>Co-founder, CEO, lead developer, QA, RE, marketer, manager, etc., Nov. 2008-present</p>
      <ul>
        <li>Designed and created Python REST web service and Postgres SQL database schema</li>
        <li>Integrated site functionality with PayPal, Tropo (SMS), and Google Maps APIs</li>
        <li>Integrated with a message/distributed task queue for scheduling game events and checkpoints</li>
        <li>Deployed and configured Nexus, Jenkins, Mercurial, and an LDAP server</li>
        <li>Currently rewriting the Subrosa web client as an HTML5/CSS3 rich AngularJS application</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>EDUCATION</h3>

    <div class="resume-content">
      <h4>North Carolina State University, Raleigh, NC</h4>
      <ul>
        <li>B.S. Degree in Computer Engineering, May 2007</li>
        <li>B.S. Degree in Electrical Engineering, May 2007</li>
      </ul>
    </div>
  </section>

  <section>
    <h3>REFERENCES</h3>
    <p>Available upon request</p>
  </section>
</div>
